<div class="container login-form my-5" [formGroup]="loginForm">
    <legend class="pb-1 mb-4 border-bottom">Sign In</legend>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <button class="btn btn-primary" (click)="login()">Login</button>
</div>